
<div>
    <h1 >Bienvenue {{currentUser.firstname}} !</h1>
</div>
<div class="container">
    <img src="http://localhost:3000/user/getPhoto/{{currentUser.photoProfile}}" class="crop" >
   <button class="btn"  ><img src="/assets/edit.png" width="20" height="20" /></button>
</div>
<div class="content-container" >
    <dropzone  class="dropzone-container"
    [config]="config"
    type = "directive"
    (sending)="onSending($event)"
    [message]="'Changer photo profile'">
    
    </dropzone>
    
</div>

   
