.mat-table{
  width: auto;
}
  
  .mat-column-date {
    width: auto;
    text-align: center;
    
  }
  .mat-column-ca {
    width: auto;
    text-align: center;
    
  }
  .mat-column-Event {
    width: auto;
    text-align: center;
    
  }
  .mat-column-id_fiche {
    width: auto;
    text-align: center;
    
  }
  .mat-column-Query {
    width: auto;
    text-align: center;
    
  }
  .mat-column-route {
    width: auto;
    text-align: center;
    
  }
  .mat-column-method {
    width: auto;
    text-align: center;
    
  }
  tr.detail-row {
    height: 0;
  }
  .QueryDetail {
    overflow: hidden;
    display: flex;
  }
  .logDetail-row {
    border-bottom-width: 0;
  }
  
  .logDetail-expanded{
    padding: 30px;
  }