.mat-dialog-title{
  text-align: center;
  font-weight: bold;
  background-color: #f44336;
  color: white;
}
.mat-dialog-content{
  text-align: center;

}
button:hover {
  transform: scale(1.2);
  }   