dropzone ::ng-deep .dropzone.dz-wrapper .dz-message {    
    background-color: #eee ;
  
   
    height: 300px;
    width: 500px ;
  
  
}

.mat-column-name {
    width: 350px;
    padding-left: 16px;
    
  }

  .mat-column-type {
    width: 32px;
    padding-right: 50px;
    text-align: center;
    
  }

  .mat-column-viewFile {
    width: 32px;
    padding-right: 50px;
    text-align: center;
    
  }

  .mat-column-downloadFile {
    width: 32px;
    padding-right: 50px;
    text-align: center;
    
  }
  